#wrapper{
    width: 1280px;
    height: 1100px;
    border: 1px solid transparent;
    margin: 0 auto;
    align-content: center;
}   

#wrapper-about{
    width: 1280px;
    height: 1100px;
    border: 1px solid transparent;
    margin: 0 auto;
    align-content: center;
    background-color: #FFFEF9;
}   

body{
    background-color: #F6DDCC;
}

#bg_gallery{
    background-color: solid black;
}

#navigation ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
}

#navigation li{
    display: inline-block;
}

#navigation a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}

#navigation ul li a{
    text-decoration: none;
    color: #943126;
    padding: 5px 20px;
    border: 1px solid black;
    transition: 0.6s ease;
    font-size: 20px;
    font-family: American Typewriter (serif);
}

#navigation ul li a:hover{
    background-color: #943126;
    color: #fff;
}

#navigation ul li.active a{
    background-color: #943126;
    color: #fff;
}

#logo img{
    float: left;
    width: 150px;
    height: auto;
}

#title{
    border: 1px solid transparent;
    width: 900px;
    height: 500px;
    align-content: center;
    margin: 0 auto; 
    margin-top: 180px;
}

#title h1{
    align-content: center;
    margin-left: 63px;
    margin-top: 10px;
    color: #E74C3C ;
    font-size: 55px;
    font-style: initial;
    font-family: sans-serif;
}

#title h2{
    margin-top: -45px;
    margin-left: 65px;
    color: ##E74C3C ;
    font-size: 35px;
    font-style: initial;
    font-family: Times New Roman (serif);
}

#content{
    margin: 0 auto;
    margin-top: 50px;
    align-content: center;
    font-family: sans-serif;
}


#content{
    margin: 0 auto;
    margin-top: 50px;
    align-content: center;
    font-family: sans-serif;
}

#action_title{
    border: 1px solid transparent;
    width: 700px;
    height: 300px;
    position: absolute;
    bottom: 11%;
    margin: 0 auto; 
    margin-top: 180px;
}

#action_title h1{
    position: absolute;
    top: -65%;
    color: #E74C3C;
    font-size: 55px;
    font-style: initial;
    font-family: sans-serif;
}

#action_title h2{
    position: absolute;
    top: -45%;
    color: #E74C3C;
    font-size: 35px;
    font-style: initial;
    font-family: sans-serif;
}

#action_content{
    position: absolute;
    left: 66%;
    top: 32%;
    margin-right: 100px;
    align-content: center;
    font-size: 17px;
    font-family: sans-serif;
}

#action_content2{
    position: absolute;
    font-size: 17px;
    top: 91%;
    margin-right: 100px;
    align-content: center;
    font-family: sans-serif;
}

#gallery_title h2{
    color: #385B32;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    position: absolute;
    left: 45%;
    top: 15%;
}

#img-gal1{
    height: 300px;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: 70%;
    left: 5%;
}

#img-gal2{
    height: 300px;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
}

#img-gal3{
    height: 300px;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: 70%;
    left: 50%;
}

#img-gal4{
    height: 300px;
    margin: 0 auto;
    padding: 75px;
    position: absolute;
    top: 20%;
    right: 10px%;
}





#about_us_title h1{
    
    position: absolute;
    top: 9%;
    color: #fff;
    font-size: 50px;
    font-style: initial;
    font-family: sans-serif;
    left: 42%;
    
}


#teampic{
    height: 300px;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 28%;
}


#info{
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    left: 38.5%;
    bottom: 10%;
    text-align:justify;
}




    
    